*{ 
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
   
}
a{
    text-decoration: none;
    color:inherit;
}
ul{
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between; /* Mantém os itens espaçados */
    align-items: center; /* Alinha os itens verticalmente */
    padding: 20px; /* Espaçamento interno do header */
    background-color: #FFF0ED; /* Cor de fundo do header */
    font-family: 'open sans' sans-serif;
  }
  
  .icons-nitro {
    display: flex; /* Coloca o ícone e o texto em linha */
    align-items: center; /* Alinha verticalmente */
    gap: 10px; /* Espaço entre o ícone e o texto */
  }
  
  h2#nitro {
    font-family: 'Open Sans',sans-serif;
        font-size: 3.75rem;
        font-weight: 300;
        text-align: left;
  }
  
  header .icons img {
    width: 50px; /* Tamanho da imagem */
    height: auto;
  }
  
.nav {
    margin-right: auto;
}
.nav__list {
display: flex; /* Cria uma linha com os itens */
gap: 20px; /* Espaçamento entre os itens */
font-family: 'Open Sans', sans-serif;
font-size: 18px;
color: #000;
font-weight: 600;
}
.nav__link--active{
    border-bottom: 2px solid black;
}
  
.icons{
    width: 3.125rem;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    }
    .icons a{
        display: inline-block;
    }