h1{
    padding-left: 2%;
    font-size: 3.75rem;
    font-weight: 300;
    background-color: #FFF0ED;
}
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background-color:  #FFF0ED;
  }
  .header__logo {
    display: flex;
    align-items: center;
  }
  .header__logo img {
    width: 2.5rem;
    margin-right: 0.5rem;
  }
  .hero__content{
    margin: auto;

  }
  .coffee_bag{
    margin-right: 6%;
  }
   
  .hero__title {
    font-size: 4.5rem;
    color: #333;
    font-weight: 300;
  }
  .hero_description {
    text-align: left;
    font-size: 1.125rem; 
    border: 0.625rem;
    margin: 1rem 34rem 3rem 1rem;
    line-height: 1.6; /* Melhora o espaçamento entre linhas */
  }

  
    .content{
        display: flex;
        background-color:#FFF0ED;
}
   

  
  .content img {
    max-width: 27.75rem; /* Define largura máxima da imagem */
    height: 500px; 
    padding-right: 10%;
  }
.content a{
   flex-direction: row;
   justify-content: flex-start;

}
.button_shopNow {
   
    font-size: 1.3125rem;
    font-weight: 400;
    background-color: #5BACC3;
    color: #FFF;
    padding: 1.5% 3%;
}

.products{
  text-align: center;
  padding: 2rem 1rem;
  background-color: #f8fbfc;

    }
    .products_title{
     font-family:  'Open Sans',sans-serif;
      font-weight: 400;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    
    .product{
    background: #fff;
    border-radius: 0.625rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 18.75rem;
    }
.products_itens{
  display: flex;
  justify-content:space-around;
  margin: auto;
  justify-content:space-evenly;
  gap: 1.5rem;
    }
.VIEWALL{
  padding: 0.75rem 1.5rem;
  margin-top: 1.875rem;
  font-size: 1rem;
  background-color: #5bacc3;
  color: #fff;
  border: none;
}
.container_discount{
    display: flex;
    height:50vh;
  }
.discount {
   
    font-size: 2.8125rem;
    font-weight: 400;
    color: white;
    background-color:#393939;
    width: 90%;
    text-align: center;
    margin: auto;
  }
span { 
    font-weight: 700;
}
.price {
   text-align: center;
    font-size: 1.125rem;
    color:#5BACC3;
    font-weight: 400;
}
footer {
    display: flex;
    background-color: #FFF0ED;
    height: 30vh;
    justify-content: space-evenly;
    align-items: center;
  }
.Address{
justify-content: center;
}

  
   

  
  